/* need to style card */

.card{
    width: 500px;
    margin-bottom:10px;
    background-color: rgb(235, 216, 165);
    border-radius: 12px;
    border: rgb(108, 219, 219);
    border-style: solid;
}

.navbar{
    background: aqua;
    height: 75px;
}
body{
    background-color: grey;
}
#green{
  background-color: green;
}
#yellow{
  background-color: yellow;
  color: black;
}
/* img{
    height: 100px;

    width: 100px;
} */
#logo{
    height: 35px;
    width: 35px;
}

#role{
    font-size: smaller;
    font-style: italic;
}

#right{
    text-align: right;
}

button
button:hover{
    background-color: blue;
}

#check{
    background-image: "/images/logo.jpg";
}
#statusIcon{
    border-radius: 15px;
    height: 45px;
    width: 45px;

}

#statusIcon:hover{
    border-radius: 15px;
    height: 45px;
    width: 45px;
    content: "images/checks/checkblank.png";
}

.entry{
    float: left;
    height: 45px;
    width: 11%;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(68, 62, 62);
    color: white;
    padding-left: 5px;
    padding-top: 3px;
}
.entry-dropdown{
    width: 9%;
    text-align: center;
    
}

#number{
    float: left;
}
#Jake{
    background-color: blue;
}
#email{
    width: 13%;
}
.fill{
    margin-bottom: 3px;
}